<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">

</head>

<body>
  <form action="/" method="post">
    <div class="todos">
      <label for="todos"> Enter Todos :</label>
      <input type="text" name="todos" value=" " placeholder=" ">
      <button type="submit">Add todos</button>
    </div>
  </form>
  <div class="container">
    <h1>Todos Entered By User:</h1>
    <ul>
      {{#todos}}
        <form class="incomplete" action="/" method="post">
          <input type="submit" name="incomplete" value="{{.}}">
      {{/todos}}
    </ul>
    </form>
  </div>

  <div>
    <form class="completed">
      <h1> Todos Completed:</h1>
      {{#todosCompleted}}
        <form class="todosCompleted">
          {{.}}
        </form>
      {{/todosCompleted}}
  </div>

</body>

</html>
